<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.hoyoung.user.dao.UserRoleMapper">
	<resultMap id="BaseResultMap" type="net.hoyoung.user.vo.UserRole">
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, create_time, update_time
	</sql>
	<insert id="insert" parameterType="net.hoyoung.user.vo.UserRole">
		insert into t_user_role (user_id, role_id)
		values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="net.hoyoung.user.vo.UserRole">
		insert into t_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="findSelective" parameterType="net.hoyoung.user.vo.UserRole"
		resultMap="BaseResultMap">
		select user_id,role_id
		from t_user_role
		where 1=1
		<if test="userId!=null">
			and user_id=#{userId}
		</if>
		<if test="roleId!=null">
			and role_id=#{roleId}
		</if>
	</select>
</mapper>